a.logo(href=content.general.logo.href)
  img.logo__main(src=content.general.logo.src, alt=content.general.logo.alt)
  img.logo__fixed.hide(src=content.general.logo.fixed, alt=content.general.logo.alt)
  img.logo__mobile(src=content.general.logo.mobile, alt=content.general.logo.alt)