section.section.about(id=content.about.id)
  .container
    .about__wrap
      span.about__subtitle= content.about.subtitle
      h2.about__title= content.about.title
      .about__advantage
        each item in content.about.advantage
          .about__advantage-block
            .about__advantage-img
              img(src=item["img"] alt=item["name"])
            span.about__advantage-name= item["name"]
            p.about__advantage-text= item["text"]
      .info__review
        .info__block
          .info__review-triangle
            +icon(content.about.review.triangle)
          .info__review-icon
            +icon(content.about.review.icon)
          p.info__review-text Язык — это часть сознания, он часть тебя. Поэтому так сложно выучить язык по учебникам: учебник можно выучить, а&nbsp;прожить&nbsp;—&nbsp;никак.
          p.info__review-text= content.about.review.text["2"]
          p.info__review-text.hide= content.about.review.text["3"]
          .info__review-more= content.about.review.more
        .info__author
          .info__author-info
            span.info__author-name= content.about.review.author
            span.info__author-post= content.about.review.post
          .info__author-pic
            img(src=content.about.review.pic.src alt=content.about.review.pic.alt)
      