section.section.about(id=content.about.id data-scroll)
  .container
    .about__wrap
      h2.about__title= content.about.title
      span.about__subtitle= content.about.subtitle
      p.about__text= content.about.text
      .about__advantage
        each item in content.about.advantage
          .about__advantage-block
            .about__advantage-img
              img(src=item["img"] alt=item["name"])
            span.about__advantage-name= item["name"]
            p.about__advantage-text= item["text"]
      .about__teachers
        h2.about__title= content.about.teachers.title
        p.about__text= content.about.teachers.text
        .about__teachers-list
          each item in content.about.teachers.list
            .about__teachers-item
              .about__teachers-img
                img(src=item["img"] alt=item["name"])
              h3.about__teachers-name= item["name"]
              span.about__teachers-post= item["post"]
              p.about__teachers-text= item["text"]
      .about__example
        h2.about__title= content.about.example.title
        .about__example-tabs
          each item in content.about.example.tabs
            .about__example-tab= item["text"]
        .about__example-content
          .about__example-block.aev
            .aev__list
              each item in content.about.example.video
                .aev__block
                  .aev__content
                    video(src=item["video"])
                  .aev__img
                    .aev__logo
                      img(src=content.general.logo.src alt="content.general.logo.alt")
                    +icon(content.about.example.icon)
                    img(src=item["img"] alt=item["name"])
                    .aev__name= item["name"]
          .about__example-block.aep
            .aep__list
              each item in content.about.example.photo
                .aep__item(data-remodal-target="slider")
                  img(src=item["img"] alt=item["alt"])
.remodal(data-remodal-id="slider")
  .aep__slider
    each item in content.about.example.photo
      .aep__item
        img(src=item["img"] alt=item["alt"])
