section.section.about(id=content.about.id data-scroll)
  .container
    .about__wrap
      span.about__subtitle= content.about.subtitle
      h2.about__title= content.about.title
      .about__advantage
        each item in content.about.advantage
          .about__advantage-block
            .about__advantage-img
              img(src=item["img"] alt=item["name"])
            span.about__advantage-name= item["name"]
            p.about__advantage-text= item["text"]
      .about__review
        .about__block
          .about__review-triangle
            +icon(content.about.review.triangle)
          .about__review-icon
            +icon(content.about.review.icon)
          p.about__review-text Язык — это часть сознания, он часть тебя. Поэтому так сложно выучить язык по учебникам: учебник можно выучить, а&nbsp;прожить&nbsp;—&nbsp;никак.
          p.about__review-text= content.about.review.text["2"]
          p.about__review-text.hide= content.about.review.text["3"]
          .about__review-more= content.about.review.more
        .about__author
          .about__author-pic
            img(src=content.about.review.pic.src alt=content.about.review.pic.alt)
          .about__author-info
            span.about__author-name= content.about.review.author
            span.about__author-post= content.about.review.post
      