section.section.archive(id=content.archive.id)
  .archive__lock.hide
    .archive__icon
      +icon(content.archive.lock)
    p.archive__text= content.archive.text
    a.btn.archive__btn(href=content.archive.btn.href)= content.archive.btn.text
  .archive__list
    each item in content.archive.list
      .archive__item(data-status=item["status"])
        .archive__play
          +icon(content.archive.play)
        .archive__item-wrap
          .archive__info
            .archive__logo
              img(src=content.general.logo.src alt=content.general.logo.alt)
            h3.archive__title= item["title"]
            span.archive__name= item["name"]
          .archive__img
            img(src=item["src"] alt=item["title"])