section.section.info(id=content.info.id)
  .container
    .info__wrap
      .info__promo 
        .info__age
          each item in content.info.age
            .info__age-tab= item["text"]
        each item in content.info.age
          .info__age-block
            .info__language
              each lang in item["language"]
                .info__language-tab= lang["text"]
            .info__language-block
              each lang in item["language"]
                .info__content
                  p= lang["content"]["text"]["1"]
                  p= lang["content"]["text"]["2"]
                  ul
                    each listItem in lang["content"]["list"]
                      li= listItem["text"]
                  p= lang["content"]["text"]["3"]
        .info__action
          a.btn.btn--big(href=content.general.btn.order.modal)= content.info.btn