section.section.info(id=content.info.id data-scroll)
  .container
    h2.info__title.info__title--md= content.info.title
    .info__wrap
      .info__promo
        h2.info__title= content.info.title
        .info__age
          each item in content.info.age
            .info__age-tab= item["text"]
        .info__age-wrap
          each item in content.info.age
            .info__age-block
              .info__header
                .info__language
                  .info__header-title= content.info.languageTitle
                  .info__language-active
                    .info__language-active-flag
                      img(src="app/img/content/info/flags/russia.png" alt="active flag")
                    span.info__header-active-text.language-active-text
                  .info__language-tabs.info-language-tabs.hide
                    each lang in item["language"]
                      .info__language-tab.info-language-tab(data-name=lang["data"])= lang["text"]
                .info__language
                  .info__header-title= content.info.levelTitle
                  .info__language-active
                    span.info__header-active-text.level-active-text
                  .info__language-tabs.info-language-tabs-group.hide
                    each lang in item["language"]
                      .info__language-tabs-group-wrap
                        each group in lang["group"]
                          .info__language-tab.info-group-tab= group["name"]
              .info__language-wrap
                each lang in item["language"]
                    .info__language-block
                      .info__group-wrap
                        each group in lang["group"]
                          .info__group-block.ig
                            .ig__header
                              .ig__header-block.ig__days
                                .ig__header-icon
                                  +icon(content.info.days)
                                span= group["days"]
                              .ig__header-block.ig__timeStart
                                .ig__header-icon
                                  +icon(content.info.timeStart)
                                span= group["timeStart"]
                              .ig__header-block.ig__time
                                .ig__header-icon
                                  +icon(content.info.time)
                                span= group["time"]
                            .ig__heading
                              .ig__heading-pic
                                img(src=group["heading"]["img"] alt=group["heading"]["name"])
                              .ig__heading-info
                                span.ig__heading-post= content.info.heading
                                span.ig__heading-name(href="#" target="_blank")= group["heading"]["name"]
                            .ig__cost
                              span.ig__cost-price= group["cost"]["price"]
                              span.ig__cost-in= group["cost"]["in"]
                              span.ig__cost-quality= group["cost"]["quality"]
        .info__action
          a.btn.btn--big(href=content.general.btn.order.modal)= content.info.btn
        .info__warning
          .info__warning-row
            .info__warning-icon
              +icon(content.info.warning.icon)
            span.info__warning-text= content.info.warning.text
          p.info__warning-descr= content.info.warning.descr
      .info__img
        img(src="app/img/content/info/age/1.png" alt="Для взрослых")