section.section.review(id=content.review.id)
  .container
    .review__wrap
      h2.review__title= content.review.title
      .review__border
        +icon('border')
      .review__border-md
        +icon('border-md')
      .review__icon
        +icon(content.review.icon)
      .review__content
        each item in content.review.list
          .review__item
            each val in item["content"]
              p= val["text"]
      .review__users
        each item in content.review.list
          .review__user
            .review__user-wrap
              .review__user-pic
                img(src=item["src"], alt=item["alt"])
              .review__user-info
                span.review__user-name= item["name"]
                span.review__user-city= item["city"]